h1{
    user-select: none;
    -ms-user-select: none;
}

div{
    user-select: none;
    -ms-user-select: none;
}

.character{
    width: 320px;
    height: 420px;
    border: 3px double white;
    position: absolute;
    left: 260px;
    top: 10px;
    overflow: hidden;
}

#character-background{
    width: 320px;
    height: 520px;
    position: absolute;
    image-rendering: pixelated;
    top: -100px;
}

#character-sprite{
    position: absolute;
    width: 1,536px;
    height: 384px;
    image-rendering: pixelated;
    left: -25px;
    top: 20px;
    animation: moveSpriteSheet 1s steps(4) infinite;
}

@keyframes moveSpriteSheet{
    from{
        transform: translate3d(0px, 0, 0);
    }
    to{
        transform: translate3d(-100%, 0, 0);
    }
}

.statUI{
    position: absolute;
    border: 3px double white;
    background-color: black;
    height: 206px;
    width: 320px;
    left: 260px;
    top: 440px;
}

.statUI-button{
    background-color: #101010;
    position: relative;
    left: 40px;
    margin-bottom: 30px;
    margin-top: 25px;
    height: 60px;
    width: 240px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    color: white;
    transition: color 0.2s, border-bottom 0.2s, border-top 0.2s;
}

.statUI-button:hover{
    background-color: #101010;
    position: relative;
    left: 40px;
    margin-bottom: 30px;
    margin-top: 25px;
    height: 60px;
    width: 240px;
    border-bottom: 2px solid red;
    border-top: 2px solid red;
    color: red;
}

.statUI-button:active{
    background-color: #101010;
    position: relative;
    left: 40px;
    margin-bottom: 30px;
    margin-top: 25px;
    height: 60px;
    width: 240px;
    border-bottom: 2px solid rgb(110, 0, 0);
    border-top: 2px solid rgb(110, 0, 0);
    color: rgb(110, 0, 0);
}

#statUI-button-b{
    text-align: center;
    position: relative;
    top: 16px;
    font-size: 25px;
    user-select: none;
    -ms-user-select: none;
}

.all-stats{
    position: absolute;
    height: 636px;
    width: 240px;
    border: 3px double white;
    background-color: black;
    top: 10px;
    left: 10px;
}

.bstats{
    height: 188px;
    width: 220px;
    position: relative;
    border: 2px solid white;
    background-color: black;
    margin-top: 10px;
    margin-left: 7px;
}

.bstats h1{
    font-size: 12px;
    color: white;
    position: relative;
    margin-bottom: -5px;
    left: 5px;
}

#bstats-title{
    font-size: 20px;
    margin-top: -2px;
    left: 62px;
    top: 2px;
}

.sstats{
    height: 410px;
    width: 220px;
    position: relative;
    border: 2px solid white;
    background-color: black;
    margin-top: 10px;
    margin-left: 7px;
}

.sstats h1{
    font-size: 12px;
    color: white;
    position: relative;
    margin-bottom: -5px;
    left: 5px;
}

#sstats-title{
    font-size: 20px;
    margin-top: -2px;
    left: 65px;
    top: 2px;
}

#speed{
    float: right;
    position: relative;
    margin-right: 10px;
    top: -20px;
}

#staminaRecovery{
    position: absolute;
    left: 93px;
}

#manaRecovery{
    position: absolute;
    margin-top: 27px;
    left: 105px;
}
